.backnav{
	background-color: #001b33;
}
.backnav2{
	background-color: #012240;
}
.rowp{
	padding: 300px 0px;
}
.logp{
	padding: 70px 0px;
}
.servp{
	padding-bottom: 100px;
	background-color: #001129;
}
.aboutp{
	padding-bottom: 100px;
	background-color: #001129;
}
.padu{
	padding-top: 100px;
}
.padi{
	padding-top: 50px;
}
.pad{
	padding-top: 50px;
}